
  <aside id="sidebar">
    <div
      class="d-flex flex-column flex-shrink-0 bg-body-tertiary"
      style="width: 4.5rem; height: 100vh;"
    >
      <a
        href="/"
        class="d-block p-3 link-body-emphasis text-decoration-none"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Icon"
      >
        <img src="/images/logo.svg" alt="icono" width="40" />
        <span class="visually-hidden">Icon</span>
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center h-100 d-flex justify-content-center my-auto">
        <li class="nav-item">
          <a
            href="/"
            class="nav-link py-3 border-bottom rounded-0"
            aria-current="page"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            aria-label="Home"
            data-bs-original-title="Home"
          >
            <img
              class="bi pe-none my-2"
              width="24"
              height="24"
              src="/images/icons/home.svg"
              aria-label="Home"
            >
          </a>
        </li>
        <li>
          <a
            href="/publish"
            class="nav-link py-3 border-bottom rounded-0"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            aria-label="Publish"
            data-bs-original-title="Publish"
          >
            <img
              class="bi pe-none my-2"
              width="24"
              height="24"
              src="/images/icons/write.svg"
              aria-label="Publish"
            >
          </a>
        </li>
        <li>
          <a
            href="/favs"
            class="nav-link py-3 border-bottom rounded-0"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            aria-label="Favourites"
            data-bs-original-title="Favourites"
          >
            <img
              class="bi pe-none my-2"
              width="24"
              height="24"
              src="/images/icons/star.svg"
              aria-label="Favourites"
            >
          </a>
        </li>
        <li>
          <a
            href="/likes"
            class="nav-link py-3 border-bottom rounded-0"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            aria-label="Likes"
            data-bs-original-title="Likes"
          >
            <img
              class="bi pe-none my-2"
              width="24"
              height="24"
              src="/images/icons/like.svg"
              aria-label="Likes"
            >
          </a>
        </li>
        <li>
          <a
            href="/socials"
            class="nav-link py-3 rounded-0"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            aria-label="Social"
            data-bs-original-title="Social"
          >
            <img
              class="bi pe-none my-2"
              width="24"
              height="24"
              src="/images/icons/socials.svg"
              aria-label="Social"
            >
          </a>
        </li>
      </ul>
      <div class="dropdown border-top">
        <a
          href="#"
          class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/JavierIncio.png"
            alt="mdo"
            width="40"
            height="40"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="/publish">New recipe</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </aside>