<%- include("partials/header") %>
<%- include("partials/sidebar.ejs") %>

<main>
  <section style="width: 900px; display: flex; gap: 2rem;">
    <form action="/publish" method="POST" class="publish" style="display: flex; gap: 2rem; width: 100%;">
      
      <!-- COLUMNA IZQUIERDA -->
      <div class="publish-header">
        <div class="image upload">
          <!-- Input de imagen opcional -->
        </div>
        <div class="ingredientes">
          <label>Ingredientes</label>
          <label style="font-size: 1.5rem; margin-bottom: 10px;">(separados por comas)</label>
          <textarea name="ingredientes" rows="15" cols="25" required></textarea>
        </div>
      </div>

      <div class="publish-body">
        <label>Título:</label>
        <input type="text" name="tituloReceta" size="29" maxlength="36" required>

        <label>Receta:</label>
        <textarea name="receta" rows="20" cols="35" required></textarea>

        <button type="submit">Publicar</button>
      </div>

    </form>
  </section>
</main>


      <%- include("partials/footer") %>